checkpoints/*
*.zip
data/*
*.pth
pretrain_model/
pytorch-image-models/
*.pyc
*/__pycache__/*
timm_local/*
**/__pycache__
.history/*
# *.jpg
tool/visual/*
*.png
*.jpeg
*.tif
*.JPG
.history/*
exps_local/*